<div>
<h2>Full Stack Web Developer</h2>

<p>As a professional with a meticulous approach to research, I am dedicated to delivering precise and well-curated information. 
   My expertise lies in efficiently sourcing, collating, and presenting data from diverse sources, ensuring that it is formatted to meet specific requirements. 
   I excel at providing detailed and accurate descriptions within stringent deadlines. A proficient communicator, I recognize that the precision of research is 
   equally as critical as the ability to effectively convey and distribute the gathered information. I am committed to maintaining the highest level of 
   confidentiality for all clients.</p>
<ul>
<b>
<div>
  <u><h3>Technologies I've worked with:</h3></u>
</div>
  <li>Web Foundations</li>
  <li>Coding Structures</li>
  <li>C Sharp</li>
  <li>Angular</li>
  <li>Node.js</li>
</b>
</ul>
</div>